PORT = 8000;
MONGO_URI = #your original mongo db connection string ;
JWT_SECRET = enter_your_jwt_secret_key
NODE_ENV = development

SMTP_SERVER = # your smtp server
SMTP_PASS = # your smtp server password

SENDER_EMAIL = #your sender mail id

ACCESS_TOKEN_SECRET = your_access_token_secret_key
REFRESH_TOKEN_SECRET = your_refresh_token_secret_key

ACCESS_TOKEN_EXPIRATION = 15m
REFRESH_TOKEN_EXPIRATION = 7d